@import "../../styles/variaveis";
@import "../../styles/breakpoints";

.row{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.box {
    background-color: $fundo-preto;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    margin: 50px;

    h1 {
        padding: 20px;
        font-family: $fonte-texto;
        color: $verde-claro;


        @include xs {
            font-size: 20px;
        }

        @include sm {
            font-size: 22px;
        }

        @include md {
            font-size: 25px;
        }

        @include lg {
            font-size: 28px;
        }

    }
}
