$fonte-logo: "BladeRunner";
$fonte-titulo: "Bebas Neue", sans-serif;
$fonte-texto: 'Montserrat', sans-serif;

$fundo-preto: #191A19;
$fundo-branco: #FFFFFF;
$verde-muito-claro: #D8E9A8;
$verde-escuro: #1A4D2E;
$verde-claro: #4E9F3D;
