@import "../../styles/variaveis";

.logo {
    text-align: center;
    color: $verde-claro;
    background-color: $fundo-preto;
    font-size: 4em;
    font-family: $fonte-logo;
    padding: 10px;
}

