@import "../../styles/variaveis";
@import "../../styles/breakpoints";

.logo {
    text-align: center;
    background-color: $fundo-preto;
    margin: 0;
    text-decoration: none;

    h1 {
        color: $verde-claro;
        font-family: $fonte-logo;

        @include xs {
            font-size: 27px;
        }

        @include sm {
            font-size: 30px;
        }

        @include md {
            font-size: 40px;
        }

        @include lg {
            font-size: 60px;
        }
    }

}