@use "sass:math";
@import "../../styles/variaveis";
@import "../../styles/breakpoints";


$grid-columns: 12;

@include xs {
    @for $i from 1 through $grid-columns {
        .col_xs_#{$i} {
            box-sizing: border-box;
            flex-grow: 0;
            width: math.div($i * 100, $grid-columns);
        }
    }
}

@include sm {
    @for $i from 1 through $grid-columns {
        .col_sm_#{$i} {
            box-sizing: border-box;
            flex-grow: 0;
            width: math.div($i * 100, $grid-columns);
        }
    }
}

@include md {
    @for $i from 1 through $grid-columns {
        .col_md_#{$i} {
            box-sizing: border-box;
            flex-grow: 0;
            width: math.div($i * 100, $grid-columns);
        }
    }
}

@include lg {
    @for $i from 1 through $grid-columns {
        .col_lg_#{$i} {
            box-sizing: border-box;
            flex-grow: 0;
            width: math.div($i * 100, $grid-columns);
        }
    }
}

.card {
    background-color: $fundo-preto;
    width: 250px;
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__titulo {
        margin: 5px 5px 15px 10px;
        font-family: $fonte-titulo;
        font-size: 25px;
        color: $verde-claro;
    }

    &__imagem {
        max-width: 200px;
        max-height: auto;
    }

    &__lista {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;

        li {
            margin-bottom: 10px;
            font-family: $fonte-texto;
            font-weight: 500;
            color: white;
        }

        button {
            padding: 10px;
            margin: 0px 5px 0px 5px;
            background-color: $verde-escuro;
            border: none;
            border-radius: 5px;
            font-family: $fonte-texto;
            font-weight: 500;
            color: $verde-muito-claro;
            cursor: pointer;
            
            &:hover {
                background-color: $verde-muito-claro;
                color: $verde-escuro;
            }

        }

        p{
            text-align: justify;
            margin: 5px 10px;
        }

        
    }

}