@import "../../styles/variaveis";
@import "../../styles/breakpoints";

$barra_height: 21vh;

.barra{
    background-color: $fundo-preto;
    height: $barra_height;
    width: 100%;
    top: 0;
    z-index: 1000;
    margin: 0;
    padding: 0.1em;

    &__lista {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 25px 20px;
        font-family: $fonte-titulo;

        li{
            margin: 0 15px;

            .botao {
                margin: 0;
                color: $verde-muito-claro;
            
                &:hover {
                    color: $verde-claro;
                }
                
                @include sm {
                    font-size: 22px;
                }

                @include md {
                    font-size: 27px;
                }
            
                @include lg {
                    font-size: 35px;
                }   
            }

        }
        
    }

}