@import "../../styles/variaveis";
@import "../../styles/breakpoints";

$barra_height_normal: 21vh;
$barra_height_small: 15rem;

.barra{
    width: 100%;
    top: 0;
    z-index: 1000;
    margin: 0;
    padding: 0.1em 0;

    @include xs {
        height: $barra_height_small;
        background-color: $fundo-preto;
    }
    
    @include sm {
        height: $barra_height_normal;
        background-color: $fundo-preto;
    }

    &__lista {
        list-style: none;
        display: flex;
        padding: 0;
        font-family: $fonte-titulo;

        @include xs {
            flex-direction: column;
            align-items: start;
            margin-top: 30px;
        }

        @include sm {
            flex-direction: row;
            align-items: center;
            margin-top: 60px;
            margin: 25px 20px;
        }

        li{
            
            @include xs {
                margin: 0.1rem 10px;
            }
            
            @include sm {
                margin: 0 15px;
            }

            @include md {
                margin: 0 15px;
            }
        
            @include lg {
                margin: 0 15px;
            } 

            .botao {
                margin: 0;
                cursor: pointer;
                color: $verde-muito-claro;
            
                &:hover {
                    color: $verde-claro;
                }
                
                @include xs {
                    font-size: 20px;
                }

                @include sm {
                    font-size: 22px;
                }

                @include md {
                    font-size: 25px;
                }
            
                @include lg {
                    font-size: 28px;
                }   
            }
        }   
    }
}
