@import "../../styles/variaveis";
@import "../../styles/breakpoints";

.link{
    text-decoration: none;
    color: $verde-claro;

    &:hover {
        color: $verde-escuro;
    }

    @include md {
        font-size: 27px;
    }

    @include lg {
        font-size: 35px;
    }   
}
