@import "../../styles/variaveis";
@import "../../styles/breakpoints";

.link{
    text-decoration: none;
    color: $verde-claro;

    &:hover {
        color: $verde-escuro;
    }

    @include sm {
        font-size: 22px;
    }

    @include md {
        font-size: 25px;
    }

    @include lg {
        font-size: 28px;
    }   
}
