@import "../../styles/variaveis";
@import "../../styles/breakpoints";

.link{
    text-decoration: none;
    color: $verde-claro;

    @include md {
        font-size: 30px;
    }

    @include lg {
        font-size: 45px;
    }

    &:hover {
        color: $verde-escuro;
    }


}