@use "sass:math";

@import "../../styles/variaveis";
@import "../../styles/breakpoints";


$grid-columns: 12;

// Base layout
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.row{
    display: flex;
    flex-flow: row wrap;
}

@include xs {
    @for $i from 1 through $grid-columns {
        // .col-#{$1}-xs {

        // }
    }
}

